/* Variables ************************* */

:root {
	--theme: rgb(52, 152, 219);
}



/* Type ************************* */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-size: 2rem;
}


a {
    text-decoration: underline;
    color: inherit; 
}

.site-title {
	font-weight: 600;
	font-size: 1.6rem;
	color: #fff;
	padding: 0 15px;
}

.page-title {
	font-size: 2.6rem;
	font-weight: 300;
}

.site-section-title {
	font-size: 1.6rem;
	font-weight: 600;


}
    

/* Site-wide styles ************************* */

.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 740px;
}
.wrapper--flex {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	height: 100%;
	width: 100%;
}

.site-header {
	background: rgb(60,60,60);
	height: 50px;
	color: rgb(220,220,220);
	border-top: 4px solid var(--theme);
}


.site-main {
	background: rgb(245,245,245);
	min-height: 90vh;
	padding: 50px 0;
}

.site-footer {
	background: rgb(255,255,255);
	height: 50px;
	text-align: center;
}


/* Page styles ************************* */

.page-header {
	display: inline-block;
	margin-bottom: 30px;
	border-bottom: 4px solid var(--theme);
	margin-left: 15px;
}


/* Page - Analytics ************************* */

.subscribers-table {
	width: 100%;
	text-align: left;
}

.subscribers-table td,
.subscribers-table th {
	padding: 5px 10px;
}

.subscribers-table thead {
	font-weight: 600;
	/*color: var(--theme);*/
	background: rgb(245,245,245);
}

.subscribers-table tbody tr:nth-child(even) {
	background: rgb(245,245,245);
}




/* Modules ************************* */

.site-section {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}
.site-section--center {
	text-align: center;
}


.site-section-header {
	padding: 10px 15px;
	border-bottom: 1px solid rgb(245,245,245);
}

.site-section-content {
	
	padding: 15px;
}


.metric {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.metric em {
	font-size: 6rem;
	color: var(--theme);
	width: 100%;
	line-height: 1;
}

.metric span {
	line-height: 1;
}


/* Forms ************************* */

.input-group {
	display: block;
	margin-bottom: 15px;
}

.input-group:last-child {
	margin-bottom: 0;
}


label {
	display: block;
	font-weight: 400;
}


input,
button,
textarea {
	height: 40px;
	border: 0;
	border-radius: 5px;
	font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

input {
	display: block;
	
	background: rgb(245,245,245);
	
	width: 100%;

	outline: none;

	

    padding: 0 10px;
}

input:focus {
	border: 1px solid rgb(200,200,200)
}


.btn {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	padding: 0 15px;
	font-weight: 600;

	cursor: pointer;
}

.btn .fa {
	margin-right: 6px;
}

.btn--success {
	background: var(--theme);
	color: #fff;
}

/*.btn--success:hover,
.btn--success:focus {
	border: ;
}*/


















